*{
    margin: 9px;
    padding: 5px;
    background-color: #f7f8f8;
}

.cabecalho-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.content-main {
    font-size: 25px;
    color: #2c263d;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.menu {
    display: flexbox;
    background-color: #FF4645;
    font-family: 'Monteserrat', sans-serif;
    font-size: large;
}


.content-telefone {
    display: block;
    align-self: flex-start;
    border-radius: 7px;
    border-width: 2px;
    font-size: 17px;
}

.section-quote {
    font-style: italic;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.section-button {
    display: block;
    border-radius: 7px;
    font-size: 17px;
}
