.root{
  margin: 9px;
  padding: 5px;

  height: 95vh;

  background-color: #f7f8f8;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.root input{
  height: 20px;

}

.root button:hover {
  color: white;
  background-color: #2c263d;
  cursor: pointer;
}

.cabecalho_title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
}

.content_main {
  font-size: 25px;
  color: #2c263d;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.menu {
  display: flexbox;
  background-color: #FF4645;
  font-family: 'Monteserrat', sans-serif;
  font-size: large;
}


.content_telefone {
  display: block;
  align-self: flex-start;
  border-radius: 7px;
  border-width: 2px;
  font-size: 17px;
}

.section_quote {
  font-style: italic;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.section_button {
  display: block;
  border-radius: 7px;
  font-size: 17px;
}
